
:root{
    --main-color-green: #02A650;
    --color-darK-green: #016632;
    --color-light-green:#02F276;
    --color-green-one: #02B357;
    --color-green-two: #018c45;
    --color-orange: #FAA700;
    --color-gold: #FCC861;
    --color-silver: #D8D8D8;
    --color-light-silver: #EFEFEF;
    --color-dark-silver: #BABFC3;
    --color-bronze: #CC8251;
}
*{
    font-family: 'Mulish', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

nav{
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color-green);
    z-index: 100;
    transition: width 300ms;
}

nav .logo{
    height: 230px;
    padding: 1rem 0rem 1rem 2rem;
    
}

.sidebar-menu{
    margin-top: 1rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
}

.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: white;
    font-size: 1.1rem;
}

.sidebar-menu a.active{
    background: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color-green);
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a i{
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked + nav{
    width: 70px;
}

#nav-toggle:checked + nav li{
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked + nav li a{
    padding-left: 0rem;
}

#nav-toggle:checked + nav .logo,
#nav-toggle:checked + nav li a span{
    display: none;
}

#nav-toggle:checked ~ .container{
    margin-left: 70px;
}

#nav-toggle:checked ~ .container header{
    width: calc(100% - 70px);
    left: 70px;
}

.container{
    transition: margin-left 300ms;
    margin-left: 345px;
}

header{
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}

.header-title{
    align-items: center;
    color: var(--color-orange);
    padding-right: 2.8rem;
}

header label i{
    font-size: 1.7rem;
    padding-right: 1rem;
}

main{
    margin-top: 110px;
    padding: 2rem 4.3rem;
    background: white;
    min-height: calc(100vh - 90px);
}

/*----------ATLETAS TARJETAS---------------*/

main h1{
    color: #02A650;
    font-size: 78px;
    margin-top: 20px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-athlete, .card-country{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-light-silver);
    padding: 2rem;
    border-radius: 5px;
    height: 350px;
}

.img-box {
    display: flex;
    justify-content: center;
}

.cards .img-card{
    height: 120px;
    width: 120px;
    border-radius: 100%;
}

.medals{
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

.medals .medal-circle{
    background-color: var(--color-gold);
    height: 32px;
    width: 32px;
    border-radius: 1000px;
}

h3{
    margin-top: 3.5rem;
}

.filter-container{
    margin-top: 2rem;
    
}
/*---------------FILTRADO---------------*/
.select-box{
    width: 270px;
    
}
.select{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 36px;
    left: 0px;
    top: 1px;
    background: white;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    border: 1px solid  #BABFC3;
    border-radius: 15px;
}
.select .content-select{
    width: 217px;
    height: 20px;
    left: 26.5px;
    top: 8px;
    border-radius: 4px;
}
.filter-criteria{
    width: fit-content;
    height: 18px;
    left: -3.5px;
    top: 1px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.select .down-icon{
    width: 10px;
    height: 20px;
}
.select.active,
.select:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
}
/*Desplegable de opciones*/
.options{
    display: none;
    background: white;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    border: 1px solid  #BABFC3;
    border-radius: 15px;
    max-height: 200px;
    overflow: auto;
}
.options.active{
    display: block;
}
.content-option{
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease all;
    height: 64px;
}
.content-option img{
    width: 30px;
    height: 30px;
}
.content-option:hover {
    background:#02A650; 
}
.content-option:hover p{
    color: white; 
}

table{
    border-collapse: collapse;
    margin-top: 2.5rem;
    width: 100%;
}

thead th{
    padding: .5rem 1rem;
    border-bottom: 2px solid var(--color-dark-silver);
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
}

img{
    height: 40px;
    width: 40px;
    border-radius: 100;
}

td{
    padding: .5rem 1rem;
    font-size: .9rem;
    border-bottom: 1px solid var(--color-light-silver) ;
}

.medal-circle-golden{
    background-color: var(--color-gold);
    height: 32px;
    width: 32px;
    border-radius: 1000px;
}

.medal-circle-silver{
    background-color: var(--color-silver);
    height: 32px;
    width: 32px;
    border-radius: 1000px;
}

.medal-circle-bronze{
    background-color: var(--color-bronze);
    height: 32px;
    width: 32px;
    border-radius: 1000px;
}

.table-responsive{
    width: 100%;
    overflow-x: auto;
}


@media only screen and (max-width:1200px){
    
    nav{
        width: 70px;
    }
    
    nav li{
        padding-left: 1rem;
        text-align: center;
    }
    
    nav li a{
        padding-left: 0rem;
    }
    
    nav .logo,
    nav li a span{
        display: none;
    }
    
    .container{
        margin-left: 70px;
    }
    
    .container header{
        width: calc(100% - 70px);
        left: 70px;
    }

    nav:hover{
        width: 345px;
        z-index:200;
    }
    
    nav:hover li{
        padding-left: 2rem;
        text-align: left;
    }
    
    nav:hover li a{
        padding-left: 1rem;
    }
    
    nav:hover .logo,
    nav:hover li a span{
        display: inline;
    }
}

@media only screen and (max-width:960px){
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width:768px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    nav{
        left: -100% !important;
    }

    header h1{
        display: flex;
        align-items: center;
    }

    header h1 label {
        display: inline-block;
        text-align: center;
        background: var(--main-color-green);
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center !important;
    }

    header h1{
        font-size: 1.1rem;
    }

    .container{
        width: 100%;
        margin-left: 0rem;
    }

    header{
        width: 100% !important;
        left: 0 !important;
    }

    #nav-toggle:checked + nav{
        left: 0 !important;
        z-index: 100;
        width: 345px;
    }

    #nav-toggle:checked + nav, 
    #nav-toggle:checked + nav li{
        padding-left: 2rem;
        text-align: left;
    }

    #nav-toggle:checked + nav li a{
        padding-left: 1rem;
    }
    
    #nav-toggle:checked + nav .logo,
    #nav-toggle:checked + nav li a span{
        display: inline;
    }

    #nav-toggle:checked ~ .container{
        margin-left: 0rem !important;
    }
}


@media only screen and (max-width:560px){
    .cards{
        grid-template-columns: 100%;
    }
}


footer{
    background-color: aqua;
    top: 20%;
}




/*------------------------------------------------------------------*/

/*SPORT.HMTL*/

/*.sportContent{
    background-color: #f7a700;
    margin: 0px;
    padding: 0px;
    display:block;
    width: 80%;
    height: 1000%;
}
.acordeon{
    width: 80%;
    max-width: 120em;
    background-color: #02A650;
    padding: 2em;
    
}
.acordeon .bloque{

    background-color: #fad700;
    margin: 0 0 1em;
    padding: 1em;
}
.acordeon .h2 {
    background-color: rgb(226, 241, 241);
    margin: 0 0 1em;
    padding: 0.5em;

}
.acordeon .contenido {
    background-color: #DCB386;
    padding: 1em;
    height: 0;
    padding: 0em;
    overflow: hidden;
    transition: all .5s ease;
}
.acordeon .bloque.activo .contenido{
    height: 4em;
}