html{
    font-size: 62.5%;
}
*{
    font-family: 'Mulish', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 16px;
    display: flex;
}
/*----------------------------barra lateral----------------------------*/
header{
    width: 22rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

header nav{
    height: 100rem;
    max-width: 22rem;
    margin: 0 auto;
    margin-left: 0;
    background-image: linear-gradient(#02A650, #f7a700);
}
header nav ul{
    overflow: hidden;
    list-style: none;
}
header nav ul li{
    float: left;
    font-size: 2rem;
}

header nav ul li a{
    color: rgb(252, 250, 250);
    padding: 4rem;
    display: block;
    text-decoration: none;
    width: max-content;
    border-bottom: 0.5px solid white;

}

header nav ul li i{
    margin-right: 3rem;
}

header nav ul li a:hover{
    background: #ffffff;
    color: rgba(0, 0, 0, 0.829);
    padding-right: 100px;
}

@media screen and (max-width:500px) {
    header nav{
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
    }
    header nav ul li {
        display: block;
        float:none;
        border-bottom: 0.5px solid white;
    }
}

/*----------------------------------------------------------*/

#logo{
    width: 130px;
    height: 130px;
    margin-left: 30px;
    
}
#contenido{
    position: relative;
    height: 1000vh;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 22rem;
    margin-left: 0;
}
/*-----------------------------------SECCIONES-----------------------------------*/
.mainSection{
    display: inline-flex;
    flex-direction: column;
    margin-left: 25rem;
}

/*-----------------------------------ATLETAS TARJETAS-----------------------------------*/
.cards{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20rem;
    left: 31rem;
    top: 22rem;
}
.card-athlete{
    width: 20%;
    background: #efefef;
    border-radius: 0.4rem;
}
.medals{
    display: flex;
}
.medal{
    display: flex;
    align-items: center;
}
.medal-circle-golden{
    border-radius: 100px;
    height: 32px;
    width: 32px;
    background: #FCC861;
}
.medal-circle-silver{
    border-radius: 100px;
    height: 32px;
    width: 32px;
    background:  #E5E5E5;
}
.medal-circle-bronze{
    border-radius: 100px;
    height: 32px;
    width: 32px;
    background: #DCB386;
}

/*-------------------------DEPORTES------------------------------------*/



#sportFilter{
    position: relative;
    top: 20px;
}

#eventsFilter{
    position: relative;
    left: 51%;
    bottom: 15px;
}

.group1{

    position: relative;
    top: 15px;
}

.group2{

    position: relative;
    bottom: 150px;
}

.group3{

    position: relative;
    bottom: 315px;
}

.group4{

    position: relative;
    bottom: 480px;
}

.group5{

    position: relative;
    bottom: 645px;
    
}

.group6{

    position: relative;
    bottom: 810px;
}

.tableSport{
    display: flex;
    justify-content: flex-start;
    width: 200%;
    height: 400px;
    left: 310px;
    top: 220px;
}

.articleImg{
    height: 220px;
    width: 170px;
    background-color: #E5E5E5;
}
.sportTitle{
    color: rgb(2, 1, 1);
    text-align: center;
    text-transform: uppercase; 
}

a:link {
    text-decoration:none;
}



/*----------------------------------------------------------------*/

/*------------------------TABLA ATLETAS----------------------------------*/
tr{
    height: 3.5rem;
}
.column-1{
    width: 10rem;
}
.column-2{
    width: 25rem;
}
.column-3{
    width: 18rem;
}
.column-4, .column-5, .column-6{
    width: 8rem;
}

/*------------------------FOOTER----------------------------------*/
footer{
    position:fixed;
    width: 100rem;
    left: 0px;
    bottom: 0px;
    display: flex;
    margin-left: 22rem;
    background-image: linear-gradient(#fad700, #02A650);
    align-items: center;
}

footer .rings-logo{
    
    position: relative;
    left: 0%;
    right: 0%;
    top: 1.29%;
    bottom: 1.29%;
    width: 94px;
    height: 66.25px;
}
/*------------------------------------------------------------------*/
/*---------------------------FILTRADO-------------------------------*/
.select-box{
    width: 270px;
    
}
.select{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 36px;
    left: 0px;
    top: 1px;
    background: white;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    border: 1px solid  #BABFC3;
    border-radius: 15px;
}
.select .content-select{
    width: 217px;
    height: 20px;
    left: 26.5px;
    top: 8px;
    border-radius: 4px;
}
.filter-criteria{
    width: fit-content;
    height: 18px;
    left: -3.5px;
    top: 1px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: center;
}
.select .down-icon{
    width: 10px;
    height: 20px;
}
.select.active,
.select:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
}
/*Desplegable de opciones*/
.options{
    display: none;
    background: white;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    border: 1px solid  #BABFC3;
    border-radius: 15px;
    max-height: 200px;
    overflow: auto;
}
.options.active{
    display: block;
}
.content-option{
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease all;
    height: 64px;
}
img {
    width: 30px;
    height: 30px;
}
.content-option:hover {
    background:#02A650; 
}
.content-option:hover p{
    color: white; 
}
